* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    flex-direction: column;
    background-color: #4460da;
}

.tip {
    font-style: italic;
    font-weight: bold;
    margin: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.metronome {
    display: flex;
    width: 350px;
    height: 400px;
    position: relative;
}

.background-left {
    border-bottom: 400px solid #3dc52b;
    border-left: 100px solid transparent;
}

.background-center {
    flex: 1;
    background-color: #1126e0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background-center:hover {
    background: green;
}

.background-right {
    border-bottom: 400px solid #3dc52b;
    border-right: 100px solid transparent;
}

.core {
    flex: 1;
    width: 30%;
    background-color: #7189cc;
    margin: 24px 0;
    border: 6px dashed #e07a5f;
}

@keyframes tick {
    0%   { transform: rotate(-30deg); }
    50%  { transform: rotate(30deg);  }
    100% { transform: rotate(-30deg); }
}

.arm {
    height: 300px;
    width: 20px;
    background-color: #ee0606;
    position: absolute;
    bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 165px;
    transform-origin: bottom center;
    animation: tick 1200ms ease-in-out infinite;
}
.BeatCounter {
    height: 40px;
    width: 75px;
    border: 6px solid#74574f;
    text-align: center;
    
}
